<!-- views/view-resume-details.ejs -->

<h1>Resume Details</h1>
<p>Resume Name: <%= resume.ResumeName %></p>
<p>Name: <%= resume.name %></p>
<p>Age: <%= resume.age %></p>
<p>Age: <%= resume.phone %></p>
<p>Age: <%= resume.email %></p>
<p>Qualifications: <%= resume.qualifications %></p>
<p>Graduation: <%= resume.graduation %></p>
<p>Post Graduation: <%= resume.postgrad %></p>
<p>Tenth: <%= resume.tenth %></p>
<p>Twelfth: <%= resume.twelfth %></p>
<p>Technical Details: <%= resume.technical %></p>
<p>Hobbies: <%= resume.hobbies %></p>
<p>Experience: <%= resume.experience %></p>
<p>Projects: <%= resume.projects %></p>
